/* Links -------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, #learn .inner #podcast-videos article h1, h4, #intro #teasers article h1, h5, #main-nav ul li a, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Typography -------------------------------------------------------------- */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* The following classes are for use with @extend. */
.serif {
  font-family: Georgia, serif;
}

.sans, .textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: sans-serif;
}

.mono, pre, code, tt, body.markup-elements article.element .example .markup + .show-source {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.caps, .allcaps, caption, .smallcaps {
  letter-spacing: 0.1em;
}

.body, body {
  font-family: museo-slab-1, museo-slab-2, Georgia, serif;
}

.headers, h1, h2, h3, #learn .inner #podcast-videos article h1, h4, #intro #teasers article h1, h5, #main-nav ul li a, h6 {
  font-family: futura-pt-1, futura-pt-2, sans-serif, refrigerator-deluxe-1, refrigerator-deluxe-2, sans-serif;
}

.logo-type, header:before, header h1, header h2, header h3, header #learn .inner #podcast-videos article h1, #learn .inner #podcast-videos article header h1, header h4, header #intro #teasers article h1, #intro #teasers article header h1, header h5, header #main-nav ul li a, #main-nav ul li header a, header h6 {
  font-family: proxima-nova-1, proxima-nova-2, sans-serif, futura-pt-1, futura-pt-2, sans-serif, refrigerator-deluxe-1, refrigerator-deluxe-2, sans-serif;
}

.allcaps, caption {
  text-transform: uppercase;
}

.amp {
  font-family: GoudyBookletter1911Regular, Goudy Old Style, Baskerville, Palatino, Georgia, serif;
}

.smallcaps {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
body {
  color: black;
  background: white;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
::-moz-selection {
  color: white;
  background: #b80000;
  text-shadow: none;
}

::selection {
  color: white;
  background: #b80000;
  text-shadow: none;
}

/* Establish baseline rhythm
 * from compass/typography/_vertical_rhythm */
body {
  font-size: 87.5%;
  line-height: 1.714em;
}

html > body {
  font-size: 14px;
}

/* Non-semantic helper classes */
/* for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* Hide for both screenreaders and browsers
 * css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden, #survivors,
#start, #intro > h2, #intro nav.samples h3, #intro nav.samples #learn .inner #podcast-videos article h1, #learn .inner #podcast-videos article #intro nav.samples h1, #intro #teasers > h3, #intro #teasers > #learn .inner #podcast-videos article h1, #learn .inner #podcast-videos article #intro #teasers > h1, #intro #teasers article {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders
 * www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden, #main-nav h1, #learn .inner > h1 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
/* Links -------------------------------------------------------------- */
a {
  color: #b80000;
}
a:visited {
  color: #b80000;
}
a:hover {
  color: #00b8b8;
}
a:active {
  color: #00b8b8;
}
a {
  text-decoration: none;
  border-bottom: 1px solid #b80000;
}
a:visited {
  border-bottom-color: #b80000;
}
a:hover {
  border-bottom-color: #00b8b8;
}
a:active {
  border-bottom-color: #00b8b8;
}

/* Headings -------------------------------------------------------------- */
h1, h2, h3, #learn .inner #podcast-videos article h1, h4, #intro #teasers article h1, h5, #main-nav ul li a, h6 {
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 3.375em;
  line-height: 1.016em;
}

h2 {
  font-size: 2.963em;
  line-height: 1.157em;
}

h3, #learn .inner #podcast-videos article h1 {
  font-size: 2.25em;
  line-height: 1.524em;
}

h4, #intro #teasers article h1 {
  font-size: 1.975em;
  line-height: 1.736em;
}

h5, #main-nav ul li a {
  font-size: 1.5em;
  line-height: 1.143em;
}

h6 {
  font-size: 1.317em;
  line-height: 1.302em;
}

/* Inline -------------------------------------------------------------- */
cite, em, dfn, address, i {
  font-style: italic;
}

strong, dfn, b {
  font-weight: bold;
}

sup, sub {
  font-size: smaller;
  line-height: 0;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

ins {
  text-decoration: none;
  border-bottom: 1px solid black;
}

del {
  text-decoration: line-through;
}

mark {
  background: #b80000;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

small {
  font-size: 0.878em;
  line-height: 1.953em;
}

q {
  font-style: italic;
  quotes: "“" "”";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
p {
  margin-bottom: 1.714em;
}
p:last-child {
  margin-bottom: 0em;
}

pre {
  margin: 1.714em;
  white-space: pre;
}

blockquote {
  margin: 1.714em 24px;
  font-style: italic;
  font-weight: 300;
}

/* Lists -------------------------------------------------------------- */
ol, ul, dl {
  margin-bottom: 1.714em;
  margin-left: 24px;
}

dl {
  margin-left: 0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}
li ul {
  list-style-type: circle;
}

dt {
  margin-top: 1.714em;
  font-style: italic;
  color: black;
}
dt:first-of-type {
  margin-top: 0em;
}

dd {
  padding-left: 24px;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
table {
  margin-bottom: 1.714em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

table, td, th {
  vertical-align: top;
}

th, thead th {
  font-weight: bold;
}

th, td, caption {
  padding: 0.857em;
  text-align: left;
}

table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.071em;
  padding-bottom: 0.786em;
  border-color: gray;
  border-style: dotted;
}

tr.even td {
  background-color: gray;
}

tfoot {
  font-weight: bold;
}

/* Forms -------------------------------------------------------------- */
.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

.input_full_wrap {
  display: block;
  padding-right: 8px;
}

::-moz-focus-inner {
  border: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
select,
textarea {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  margin: 0;
  vertical-align: middle;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  -ms-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px;
  background: #dddddd url(../images/button.png) repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px 4px;
  text-shadow: white 0 1px 1px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0px;
}

button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

button[disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
input[type="button"][disabled] {
  color: #888888;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  height: 1.8em;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

input.placeholder-text,
textarea.placeholder-text {
  color: #888888;
}

::-webkit-input-placeholder {
  color: #888888;
}

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
  color: #888888;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #0066ff 0 0 7px;
  -webkit-box-shadow: #0066ff 0 0 7px;
  box-shadow: #0066ff 0 0 7px;
  z-index: 1;
}

input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is_webkit select {
  background-image: url(../images/select_arrow.gif);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

textarea,
select[multiple] {
  height: auto;
}

select[multiple],
.is_webkit select[multiple] {
  background-image: none;
  padding: 0;
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
}

.ie6_button,
* html button {
  background: #dddddd url(../images/button.png) repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto;
}

* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

* html select {
  margin-top: 1px;
}

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

.ie6_input_disabled {
  background: #eeeeee;
}

fieldset {
  margin-bottom: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 1.643em;
  border-color: black;
  border-style: dotted;
}

legend {
  padding: 0 0.25em;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

label {
  font-weight: bold;
  margin-right: 0.5em;
}

.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-size: 1em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  border-width: 1px;
  margin-bottom: 0.857em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 364px;
  max-width: 100%;
  margin-top: 0;
  border-color: black;
  height: 2.571;
}

textarea {
  height: 11.143;
}

input[type=search] {
  -webkit-appearance: none;
}
input[type=search]::-webkit-search-decoration {
  display: none;
}

button, input[type=button], input[type=submit] {
  width: auto;
  overflow: visible;
}

textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 364px;
}

input[type="radio"], input[type="checkbox"] {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

textarea, input:not([type="radio"]) {
  max-width: 100%;
}

/* Images -------------------------------------------------------------- */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
img.left {
  float: left;
  margin: 12px 24px 12px 0;
}
img.right {
  float: right;
  margin: 12px 0 12px 24px;
}

/* Sprites -------------------------------------------------------------- */
.badges-sprite, .badges-clean-start-selected, #intro nav.samples ul li#clean-start-badge a:hover, #intro nav.samples ul li#clean-start-badge a.selected, .badges-clean-start, #intro nav.samples ul li#clean-start-badge a, .badges-code-viewer-selected, #intro nav.samples ul li#code-viewer-badge a:hover, #intro nav.samples ul li#code-viewer-badge a.selected, .badges-code-viewer, #intro nav.samples ul li#code-viewer-badge a, .badges-color-selected, #intro nav.samples ul li#color-badge a:hover, #intro nav.samples ul li#color-badge a.selected, .badges-color, #intro nav.samples ul li#color-badge a, .badges-drupal-ui-patterns-selected, #intro nav.samples ul li#drupal-ui-patterns-badge a:hover, #intro nav.samples ul li#drupal-ui-patterns-badge a.selected, .badges-drupal-ui-patterns, #intro nav.samples ul li#drupal-ui-patterns-badge a, .badges-fonts-selected, #intro nav.samples ul li#fonts-badge a:hover, #intro nav.samples ul li#fonts-badge a.selected, .badges-fonts, #intro nav.samples ul li#fonts-badge a, .badges-html5-selected, #intro nav.samples ul li#html5-badge a:hover, #intro nav.samples ul li#html5-badge a.selected, .badges-html5, #intro nav.samples ul li#html5-badge a, .badges-sass-mixins-selected, #intro nav.samples ul li#sass-mixins-badge a:hover, #intro nav.samples ul li#sass-mixins-badge a.selected, .badges-sass-mixins, #intro nav.samples ul li#sass-mixins-badge a, .badges-step-by-step-selected, #intro nav.samples ul li#step-by-step-badge a:hover, #intro nav.samples ul li#step-by-step-badge a.selected, .badges-step-by-step, #intro nav.samples ul li#step-by-step-badge a, .badges-ui-patterns-selected, #intro nav.samples ul li#ui-patterns-badge a:hover, #intro nav.samples ul li#ui-patterns-badge a.selected, .badges-ui-patterns, #intro nav.samples ul li#ui-patterns-badge a {
  background: url('images/badges-151c17e10b.png') no-repeat;
}

.badges-clean-start-selected, #intro nav.samples ul li#clean-start-badge a:hover, #intro nav.samples ul li#clean-start-badge a.selected {
  background-position: 0 0;
}

.badges-clean-start, #intro nav.samples ul li#clean-start-badge a {
  background-position: 0 -115px;
}

.badges-code-viewer-selected, #intro nav.samples ul li#code-viewer-badge a:hover, #intro nav.samples ul li#code-viewer-badge a.selected {
  background-position: 0 -230px;
}

.badges-code-viewer, #intro nav.samples ul li#code-viewer-badge a {
  background-position: 0 -345px;
}

.badges-color-selected, #intro nav.samples ul li#color-badge a:hover, #intro nav.samples ul li#color-badge a.selected {
  background-position: 0 -460px;
}

.badges-color, #intro nav.samples ul li#color-badge a {
  background-position: 0 -575px;
}

.badges-drupal-ui-patterns-selected, #intro nav.samples ul li#drupal-ui-patterns-badge a:hover, #intro nav.samples ul li#drupal-ui-patterns-badge a.selected {
  background-position: 0 -690px;
}

.badges-drupal-ui-patterns, #intro nav.samples ul li#drupal-ui-patterns-badge a {
  background-position: 0 -805px;
}

.badges-fonts-selected, #intro nav.samples ul li#fonts-badge a:hover, #intro nav.samples ul li#fonts-badge a.selected {
  background-position: 0 -920px;
}

.badges-fonts, #intro nav.samples ul li#fonts-badge a {
  background-position: 0 -1035px;
}

.badges-html5-selected, #intro nav.samples ul li#html5-badge a:hover, #intro nav.samples ul li#html5-badge a.selected {
  background-position: 0 -1150px;
}

.badges-html5, #intro nav.samples ul li#html5-badge a {
  background-position: 0 -1265px;
}

.badges-sass-mixins-selected, #intro nav.samples ul li#sass-mixins-badge a:hover, #intro nav.samples ul li#sass-mixins-badge a.selected {
  background-position: 0 -1380px;
}

.badges-sass-mixins, #intro nav.samples ul li#sass-mixins-badge a {
  background-position: 0 -1495px;
}

.badges-step-by-step-selected, #intro nav.samples ul li#step-by-step-badge a:hover, #intro nav.samples ul li#step-by-step-badge a.selected {
  background-position: 0 -1610px;
}

.badges-step-by-step, #intro nav.samples ul li#step-by-step-badge a {
  background-position: 0 -1725px;
}

.badges-ui-patterns-selected, #intro nav.samples ul li#ui-patterns-badge a:hover, #intro nav.samples ul li#ui-patterns-badge a.selected {
  background-position: 0 -1840px;
}

.badges-ui-patterns, #intro nav.samples ul li#ui-patterns-badge a {
  background-position: 0 -1955px;
}

body.markup-elements h1.section-title {
  font-size: 2.25em;
  line-height: 1.524em;
  background-color: #d3d3d3;
  text-transform: uppercase;
  padding-left: 12px;
}
body.markup-elements h1.section-title a {
  color: black;
}
body.markup-elements h1.section-title a:visited {
  color: black;
}
body.markup-elements h1.section-title a:hover {
  color: #b80000;
}
body.markup-elements h1.section-title a:active {
  color: #b80000;
}
body.markup-elements h1.section-title a {
  text-decoration: none;
  border-bottom: 1px solid black;
}
body.markup-elements h1.section-title a:visited {
  border-bottom-color: black;
}
body.markup-elements h1.section-title a:hover {
  border-bottom-color: #b80000;
}
body.markup-elements h1.section-title a:active {
  border-bottom-color: #b80000;
}
body.markup-elements article.element {
  *zoom: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  padding-bottom: 23px;
}
body.markup-elements article.element:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
body.markup-elements article.element:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}
body.markup-elements article.element h2.element-title {
  font-size: 1em;
  line-height: 1.714em;
  background-color: gray;
  color: white;
  text-transform: uppercase;
  padding-left: 12px;
}
body.markup-elements article.element h2.element-title a {
  color: white;
}
body.markup-elements article.element h2.element-title a:visited {
  color: white;
}
body.markup-elements article.element h2.element-title a:hover {
  color: #b80000;
}
body.markup-elements article.element h2.element-title a:active {
  color: #b80000;
}
body.markup-elements article.element h2.element-title a {
  text-decoration: none;
  border-bottom: 1px solid white;
}
body.markup-elements article.element h2.element-title a:visited {
  border-bottom-color: white;
}
body.markup-elements article.element h2.element-title a:hover {
  border-bottom-color: #b80000;
}
body.markup-elements article.element h2.element-title a:active {
  border-bottom-color: #b80000;
}
body.markup-elements article.element .example {
  *zoom: 1;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  padding-bottom: 11px;
  *zoom: 1;
}
body.markup-elements article.element .example:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
body.markup-elements article.element .example:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}
body.markup-elements article.element .example:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
body.markup-elements article.element .example .markup {
  display: inline;
  float: left;
  width: 75.654%;
  margin-right: 2.414%;
}
body.markup-elements article.element .example .markup + .show-source {
  display: inline;
  float: left;
  width: 36.62%;
  margin-right: 2.414%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -24px;
}
body.markup-elements article.element .example .markup + .show-source .show-hide {
  text-align: right;
}
body.markup-elements article.element .example .markup + .show-source + p {
  clear: both;
}

.container, #learn .inner, #tools .inner {
  *zoom: 1;
  margin: auto;
  width: 994px;
  max-width: 100%;
}
.container:after, #learn .inner:after, #tools .inner:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.wireframe {
  outline: 1px dashed #b80000;
}

/* Non-grid Layout and styling -------------------------------------------------------------- */
html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

/* PAGE HEADER */
header {
  position: relative;
  padding-top: 372px;
  padding-bottom: 248px;
  background-image: url('images/dirt.jpg?1300250432');
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px 8px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px 8px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px 8px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px 8px 8px rgba(0, 0, 0, 0.2);
}
header:before {
  content: "≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈";
  letter-spacing: -4px;
  font-size: 3.375em;
  line-height: 1.016em;
  color: #5c0000;
  color: rgba(184, 0, 0, 0.2);
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px;
  position: absolute;
  top: 362px;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}
header .wrapper {
  background: transparent url('images/logo.png?1303525784') no-repeat 0 36px;
  padding-top: 36px;
  top: -36px;
  position: relative;
  z-index: 5;
  width: 480px;
  margin: 0 auto;
  color: white;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8), 5px 8px 8px rgba(0, 0, 0, 0.5);
}
header h1, header h2, header h3, header #learn .inner #podcast-videos article h1, #learn .inner #podcast-videos article header h1, header h4, header #intro #teasers article h1, #intro #teasers article header h1, header h5, header #main-nav ul li a, #main-nav ul li header a, header h6 {
  font-weight: 700;
  font-family: proxima-nova-condensed-1, proxima-nova-condensed-2, sans-serif;
}
header h1 {
  margin-bottom: 0;
  position: relative;
  font-size: 32.8px;
  top: 0px;
  text-align: right;
  padding-right: 6px;
}
.wf-active header h1 {
  font-size: 2.963em;
  line-height: 1.157em;
  top: -9px;
}
header h2 {
  font-family: proxima-nova-1, proxima-nova-2, sans-serif;
  font-weight: 800;
  font-size: 4.929em;
  line-height: 1.043em;
  position: relative;
  top: 0px;
}
.wf-active header h2 {
  font-size: 5.063em;
  line-height: 1.016em;
  top: -12px;
}

/* MASTER NAVIGATION */
#main-nav {
  position: fixed;
  top: 0;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  text-align: center;
  z-index: 100;
}
#main-nav ul {
  list-style-type: none;
}
#main-nav ul, #main-nav ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
#main-nav ul li {
  padding: 0 0.5em;
}
#main-nav ul li a {
  border-bottom: none;
}
#main-nav ul li a:hover {
  border-bottom: none;
}

/* INTRODUCTION */
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-back {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

#intro {
  position: relative;
  z-index: 3;
  display: block;
  margin: 0 auto;
  width: 404px;
  max-width: 404px;
  top: -300px;
}
#intro nav.samples {
  position: absolute;
  z-index: 2;
  top: -57.5px;
  left: 202px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 80s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#intro nav.samples ul {
  margin: 0 0 0 0;
  list-style: none;
  position: absolute;
  top: -57.5px;
  left: -57.5px;
}
#intro nav.samples ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
#intro nav.samples ul li {
  -webkit-animation-name: spin-back;
  -webkit-animation-duration: 80s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 115px;
  height: 115px;
  z-index: 4;
  -moz-border-radius: 93.333px;
  -webkit-border-radius: 93.333px;
  -o-border-radius: 93.333px;
  -ms-border-radius: 93.333px;
  -khtml-border-radius: 93.333px;
  border-radius: 93.333px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8), 5px 8px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8), 5px 8px 8px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8), 5px 8px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8), 5px 8px 8px rgba(0, 0, 0, 0.5);
}
#intro nav.samples ul li a {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('images/badges/color.png?1305613384');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 115px;
  height: 115px;
}
#intro nav.samples ul li a {
  border-bottom: none;
}
#intro nav.samples ul li a:hover {
  border-bottom: none;
}
#intro nav.samples ul li:nth-of-type(1n-1) {
  top: 205.692px;
  left: 245.134px;
}
#intro nav.samples ul li:nth-of-type(2n-2) {
  top: 315.138px;
  left: 55.567px;
}
#intro nav.samples ul li:nth-of-type(3n-3) {
  top: 277.128px;
  left: -160.0px;
}
#intro nav.samples ul li:nth-of-type(4n-4) {
  top: 109.446px;
  left: -300.702px;
}
#intro nav.samples ul li:nth-of-type(5n-5) {
  top: -109.446px;
  left: -300.702px;
}
#intro nav.samples ul li:nth-of-type(6n-6) {
  top: -277.128px;
  left: -160.0px;
}
#intro nav.samples ul li:nth-of-type(7n-7) {
  top: -315.138px;
  left: 55.567px;
}
#intro nav.samples ul li:nth-of-type(8n-8) {
  top: -205.692px;
  left: 245.134px;
}
#intro nav.samples ul li:nth-of-type(9n-9) {
  top: 0.0px;
  left: 320px;
}
#intro nav.samples:hover ul li:nth-of-type(1n-1) {
  top: 212.12px;
  left: 252.795px;
}
#intro nav.samples:hover ul li:nth-of-type(2n-2) {
  top: 324.987px;
  left: 57.304px;
}
#intro nav.samples:hover ul li:nth-of-type(3n-3) {
  top: 285.788px;
  left: -165.0px;
}
#intro nav.samples:hover ul li:nth-of-type(4n-4) {
  top: 112.867px;
  left: -310.099px;
}
#intro nav.samples:hover ul li:nth-of-type(5n-5) {
  top: -112.867px;
  left: -310.099px;
}
#intro nav.samples:hover ul li:nth-of-type(6n-6) {
  top: -285.788px;
  left: -165.0px;
}
#intro nav.samples:hover ul li:nth-of-type(7n-7) {
  top: -324.987px;
  left: 57.304px;
}
#intro nav.samples:hover ul li:nth-of-type(8n-8) {
  top: -212.12px;
  left: 252.795px;
}
#intro nav.samples:hover ul li:nth-of-type(9n-9) {
  top: 0.0px;
  left: 330px;
}
#intro #teasers {
  position: relative;
  width: 404px;
  margin: 0 auto;
}
#intro #teasers article {
  position: absolute;
  height: 190px;
  width: 410px;
  -moz-border-radius-bottomleft: 180px;
  -webkit-border-bottom-left-radius: 180px;
  -o-border-bottom-left-radius: 180px;
  -ms-border-bottom-left-radius: 180px;
  -khtml-border-bottom-left-radius: 180px;
  border-bottom-left-radius: 180px;
  -moz-border-radius-bottomright: 180px;
  -webkit-border-bottom-right-radius: 180px;
  -o-border-bottom-right-radius: 180px;
  -ms-border-bottom-right-radius: 180px;
  -khtml-border-bottom-right-radius: 180px;
  border-bottom-right-radius: 180px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  color: #d3d3d3;
  text-align: center;
  left: 0px;
}
#intro #teasers article:before {
  content: "\0020";
  position: absolute;
  width: 410px;
  height: 476px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  z-index: -10;
  bottom: 190px;
  left: 0;
}
#intro #teasers article h1 {
  border-bottom: 1px dashed #b7d2eb;
  margin: 0 5px 0.25em;
  color: #7bacdb;
  display: block;
  visibility: visible;
}
#intro #teasers article p {
  font-weight: bold;
  padding: 0 45px;
}
#intro #teasers article:target, #intro #teasers article.selected {
  display: block;
  visibility: visible;
}
#intro #teasers article:first-of-type {
  display: block;
  visibility: visible;
}

/* LEARN */
#learn {
  /* BACKGROUND PATTERN: http://leaverou.me/css3patterns/#carbon-fibre THANKS! */
  background: -webkit-gradient(radial, 0 0, 0, 0 0, 16, color-stop(15%, #1b110c), color-stop(16%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, 8px 8px, 0, 8px 8px, 16, color-stop(15%, #1b110c), color-stop(16%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, 0 1px, 0, 0 1px, 20, color-stop(15%, rgba(255, 255, 255, 0.1)), color-stop(20%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, 8px 9px, 0, 8px 9px, 20, color-stop(15%, rgba(255, 255, 255, 0.1)), color-stop(20%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(#1b110c 15%, rgba(0, 0, 0, 0) 16%) 0 0, -webkit-radial-gradient(#1b110c 15%, rgba(0, 0, 0, 0) 16%) 8px 8px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%) 8px 9px;
  background: -moz-radial-gradient(#1b110c 15%, rgba(0, 0, 0, 0) 16%) 0 0, -moz-radial-gradient(#1b110c 15%, rgba(0, 0, 0, 0) 16%) 8px 8px, -moz-radial-gradient(rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%) 0 1px, -moz-radial-gradient(rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%) 8px 9px;
  background: -o-radial-gradient(0 0, #1b110c 15%, rgba(0, 0, 0, 0) 16%), -o-radial-gradient(8px 8px, #1b110c 15%, rgba(0, 0, 0, 0) 16%), -o-radial-gradient(0 1px, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%), -o-radial-gradient(8px 9px, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%);
  background: radial-gradient(#1b110c 15%, rgba(0, 0, 0, 0) 16%) 0 0, radial-gradient(#1b110c 15%, rgba(0, 0, 0, 0) 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%) 8px 9px;
  background-color: #372218;
  background-size: 16px 16px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px 8px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px 8px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px 8px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px 8px 8px rgba(0, 0, 0, 0.2);
}
#learn .inner {
  padding-top: 1.714em;
  padding-bottom: 1.714em;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59.759%, rgba(0, 0, 0, 0)), color-stop(59.759%, rgba(55, 34, 24, 0.5)), color-stop(79.276%, rgba(55, 34, 24, 0.5)), color-stop(79.276%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 59.759%, rgba(55, 34, 24, 0.5) 59.759%, rgba(55, 34, 24, 0.5) 79.276%, rgba(0, 0, 0, 0) 79.276%, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 59.759%, rgba(55, 34, 24, 0.5) 59.759%, rgba(55, 34, 24, 0.5) 79.276%, rgba(0, 0, 0, 0) 79.276%, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 59.759%, rgba(55, 34, 24, 0.5) 59.759%, rgba(55, 34, 24, 0.5) 79.276%, rgba(0, 0, 0, 0) 79.276%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(left center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 59.759%, rgba(55, 34, 24, 0.5) 59.759%, rgba(55, 34, 24, 0.5) 79.276%, rgba(0, 0, 0, 0) 79.276%, rgba(0, 0, 0, 0));
  -moz-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.4), 8px 0px 8px rgba(0, 0, 0, 0.2), -2px 0px 2px rgba(0, 0, 0, 0.4), -8px 0px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.4), 8px 0px 8px rgba(0, 0, 0, 0.2), -2px 0px 2px rgba(0, 0, 0, 0.4), -8px 0px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.4), 8px 0px 8px rgba(0, 0, 0, 0.2), -2px 0px 2px rgba(0, 0, 0, 0.4), -8px 0px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.4), 8px 0px 8px rgba(0, 0, 0, 0.2), -2px 0px 2px rgba(0, 0, 0, 0.4), -8px 0px 8px rgba(0, 0, 0, 0.2);
  color: #f5f7fb;
}
#learn .inner > h1 {
  clear: both;
  margin-left: 2.414%;
  margin-right: 2.414%;
}
#learn .inner #walkthru {
  display: inline;
  float: left;
  width: 56.137%;
  margin-right: 2.414%;
  margin-left: 2.414%;
}
#learn .inner #walkthru iframe {
  width: 558px;
  height: 376.65px;
  max-width: 100%;
}
#learn .inner #podcast-videos {
  margin-top: 1.714em;
  display: inline;
  float: left;
  width: 36.62%;
  margin-right: 2.414%;
  display: inline;
  float: right;
  margin-right: 2.414%;
  #margin-left: -24px;
}
#learn .inner #podcast-videos > h2 {
  font-size: 1.5em;
  line-height: 1.143em;
  text-align: right;
  margin-bottom: 1.714em;
}
#learn .inner #podcast-videos article {
  *zoom: 1;
  border-bottom: 3px solid rgba(55, 34, 24, 0.5);
  margin-bottom: 12px;
  padding-bottom: 9px;
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -26px;
  padding-right: 26px;
}
#learn .inner #podcast-videos article:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
#learn .inner #podcast-videos article:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}
#learn .inner #podcast-videos article h1 {
  line-height: 1em;
  display: inline;
  float: left;
  width: 46.703%;
  margin-right: 6.593%;
}
#learn .inner #podcast-videos article img {
  display: inline;
  float: left;
  width: 46.703%;
  margin-right: 6.593%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -24px;
  margin: 3px 0;
}

/* TOOLS */
#tools {
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px 8px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px 8px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px 8px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px 8px 8px rgba(0, 0, 0, 0.2);
}
#tools .inner {
  padding-top: 1.714em;
  padding-bottom: 1.714em;
}

#intro #teasers article h1, #intro #teasers article h2, #intro #teasers article h3, #intro #teasers #learn .inner #podcast-videos article h1, #learn .inner #podcast-videos #intro #teasers article h1,
#learn h1,
#learn h2,
#learn h3,
#learn #learn .inner #podcast-videos article h1, #learn .inner #podcast-videos article
#learn h1 {
  position: relative;
}
#intro #teasers article h1 span, #intro #teasers article h2 span, #intro #teasers article h3 span, #intro #teasers #learn .inner #podcast-videos article h1 span, #learn .inner #podcast-videos #intro #teasers article h1 span,
#learn h1 span,
#learn h2 span,
#learn h3 span,
#learn #learn .inner #podcast-videos article h1 span, #learn .inner #podcast-videos article
#learn h1 span {
  position: relative;
}
#intro #teasers article h1 span:nth-of-type(3n-3), #intro #teasers article h2 span:nth-of-type(3n-3), #intro #teasers article h3 span:nth-of-type(3n-3), #intro #teasers #learn .inner #podcast-videos article h1 span:nth-of-type(3n-3), #learn .inner #podcast-videos #intro #teasers article h1 span:nth-of-type(3n-3),
#learn h1 span:nth-of-type(3n-3),
#learn h2 span:nth-of-type(3n-3),
#learn h3 span:nth-of-type(3n-3),
#learn #learn .inner #podcast-videos article h1 span:nth-of-type(3n-3), #learn .inner #podcast-videos article
#learn h1 span:nth-of-type(3n-3) {
  opacity: 0.7;
}
#intro #teasers article h1 span:nth-of-type(5n-5), #intro #teasers article h2 span:nth-of-type(5n-5), #intro #teasers article h3 span:nth-of-type(5n-5), #intro #teasers #learn .inner #podcast-videos article h1 span:nth-of-type(5n-5), #learn .inner #podcast-videos #intro #teasers article h1 span:nth-of-type(5n-5),
#learn h1 span:nth-of-type(5n-5),
#learn h2 span:nth-of-type(5n-5),
#learn h3 span:nth-of-type(5n-5),
#learn #learn .inner #podcast-videos article h1 span:nth-of-type(5n-5), #learn .inner #podcast-videos article
#learn h1 span:nth-of-type(5n-5) {
  opacity: 0.8;
}
#intro #teasers article h1 span:nth-of-type(7n-7), #intro #teasers article h2 span:nth-of-type(7n-7), #intro #teasers article h3 span:nth-of-type(7n-7), #intro #teasers #learn .inner #podcast-videos article h1 span:nth-of-type(7n-7), #learn .inner #podcast-videos #intro #teasers article h1 span:nth-of-type(7n-7),
#learn h1 span:nth-of-type(7n-7),
#learn h2 span:nth-of-type(7n-7),
#learn h3 span:nth-of-type(7n-7),
#learn #learn .inner #podcast-videos article h1 span:nth-of-type(7n-7), #learn .inner #podcast-videos article
#learn h1 span:nth-of-type(7n-7) {
  opacity: 0.9;
}
