/* Links -------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, #main article h1, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Typography -------------------------------------------------------------- */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* The following classes are for use with @extend. */
.serif {
  font-family: Georgia, serif;
}

.sans, .textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: sans-serif;
}

.mono, pre, code, tt, body.markup-elements article.element .example .markup + .show-source {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.caps, .allcaps, caption, .smallcaps {
  letter-spacing: 0.1em;
}

.body, body {
  font-family: proxima-nova-1, proxima-nova-2, sans-serif;
}

.headers, h1, h2, h3, #main article h1, h4, h5, h6 {
  font-family: refrigerator-deluxe-1, refrigerator-deluxe-2, sans-serif;
}

.logo-type, header:before, header hgroup h1, header hgroup h2, header hgroup h3, header hgroup #main article h1, #main article header hgroup h1, header hgroup h4, header hgroup h5, header hgroup h6 {
  font-family: proxima-nova-1, proxima-nova-2, sans-serif, refrigerator-deluxe-1, refrigerator-deluxe-2, sans-serif;
}

.allcaps, caption {
  text-transform: uppercase;
}

.amp {
  font-family: GoudyBookletter1911Regular, Goudy Old Style, Baskerville, Palatino, Georgia, serif;
}

.smallcaps {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
body {
  color: black;
  background: white;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
::-moz-selection {
  color: white;
  background: #b80000;
  text-shadow: none;
}

::selection {
  color: white;
  background: #b80000;
  text-shadow: none;
}

/* Establish baseline rhythm
 * from compass/typography/_vertical_rhythm */
body {
  font-size: 87.5%;
  line-height: 1.714em;
}

html > body {
  font-size: 14px;
}

/* Non-semantic helper classes */
/* for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* Hide for both screenreaders and browsers
 * css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden, #main article {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders
 * www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
/* Links -------------------------------------------------------------- */
a {
  color: #b80000;
}
a:visited {
  color: #b80000;
}
a:hover {
  color: #00b8b8;
}
a:active {
  color: #00b8b8;
}
a {
  text-decoration: none;
  border-bottom: 1px solid #b80000;
}
a:visited {
  border-bottom-color: #b80000;
}
a:hover {
  border-bottom-color: #00b8b8;
}
a:active {
  border-bottom-color: #00b8b8;
}

/* Headings -------------------------------------------------------------- */
h1, h2, h3, #main article h1, h4, h5, h6 {
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 3.375em;
  line-height: 1.016em;
}

h2 {
  font-size: 2.963em;
  line-height: 1.157em;
}

h3, #main article h1 {
  font-size: 2.25em;
  line-height: 1.524em;
}

h4 {
  font-size: 1.975em;
  line-height: 1.736em;
}

h5 {
  font-size: 1.5em;
  line-height: 1.143em;
}

h6 {
  font-size: 1.317em;
  line-height: 1.302em;
}

/* Inline -------------------------------------------------------------- */
cite, em, dfn, address, i {
  font-style: italic;
}

strong, dfn, b {
  font-weight: bold;
}

sup, sub {
  font-size: smaller;
  line-height: 0;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

ins {
  text-decoration: none;
  border-bottom: 1px solid black;
}

del {
  text-decoration: line-through;
}

mark {
  background: #b80000;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

small {
  font-size: 0.878em;
  line-height: 1.953em;
}

q {
  font-style: italic;
  quotes: "“" "”";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
p {
  margin-bottom: 1.714em;
}
p:last-child {
  margin-bottom: 0em;
}

pre {
  margin: 1.714em;
  white-space: pre;
}

blockquote {
  margin: 1.714em 24px;
  font-style: italic;
  font-weight: 300;
}

/* Lists -------------------------------------------------------------- */
ol, ul, dl {
  margin-bottom: 1.714em;
  margin-left: 24px;
}

dl {
  margin-left: 0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}
li ul {
  list-style-type: circle;
}

dt {
  margin-top: 1.714em;
  font-style: italic;
  color: black;
}
dt:first-of-type {
  margin-top: 0em;
}

dd {
  padding-left: 24px;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
table {
  margin-bottom: 1.714em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

table, td, th {
  vertical-align: top;
}

th, thead th {
  font-weight: bold;
}

th, td, caption {
  padding: 0.857em;
  text-align: left;
}

table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.071em;
  padding-bottom: 0.786em;
  border-color: gray;
  border-style: dotted;
}

tr.even td {
  background-color: gray;
}

tfoot {
  font-weight: bold;
}

/* Forms -------------------------------------------------------------- */
.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

.input_full_wrap {
  display: block;
  padding-right: 8px;
}

::-moz-focus-inner {
  border: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
select,
textarea {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  margin: 0;
  vertical-align: middle;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  -ms-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px;
  background: #dddddd url(../images/button.png) repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px 4px;
  text-shadow: white 0 1px 1px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0px;
}

button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

button[disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
input[type="button"][disabled] {
  color: #888888;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  height: 1.8em;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

input.placeholder-text,
textarea.placeholder-text {
  color: #888888;
}

::-webkit-input-placeholder {
  color: #888888;
}

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
  color: #888888;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #0066ff 0 0 7px;
  -webkit-box-shadow: #0066ff 0 0 7px;
  box-shadow: #0066ff 0 0 7px;
  z-index: 1;
}

input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is_webkit select {
  background-image: url(../images/select_arrow.gif);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

textarea,
select[multiple] {
  height: auto;
}

select[multiple],
.is_webkit select[multiple] {
  background-image: none;
  padding: 0;
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
}

.ie6_button,
* html button {
  background: #dddddd url(../images/button.png) repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto;
}

* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

* html select {
  margin-top: 1px;
}

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

.ie6_input_disabled {
  background: #eeeeee;
}

fieldset {
  margin-bottom: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 1.643em;
  border-color: black;
  border-style: dotted;
}

legend {
  padding: 0 0.25em;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

label {
  font-weight: bold;
  margin-right: 0.5em;
}

.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-size: 1em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  border-width: 1px;
  margin-bottom: 0.857em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 364px;
  max-width: 100%;
  margin-top: 0;
  border-color: black;
  height: 2.571;
}

textarea {
  height: 11.143;
}

input[type=search] {
  -webkit-appearance: none;
}
input[type=search]::-webkit-search-decoration {
  display: none;
}

button, input[type=button], input[type=submit] {
  width: auto;
  overflow: visible;
}

textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 364px;
}

input[type="radio"], input[type="checkbox"] {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

textarea, input:not([type="radio"]) {
  max-width: 100%;
}

/* Images -------------------------------------------------------------- */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
img.left {
  float: left;
  margin: 12px 24px 12px 0;
}
img.right {
  float: right;
  margin: 12px 0 12px 24px;
}

body.markup-elements h1.section-title {
  font-size: 2.25em;
  line-height: 1.524em;
  background-color: #d3d3d3;
  text-transform: uppercase;
  padding-left: 12px;
}
body.markup-elements h1.section-title a {
  color: black;
}
body.markup-elements h1.section-title a:visited {
  color: black;
}
body.markup-elements h1.section-title a:hover {
  color: #b80000;
}
body.markup-elements h1.section-title a:active {
  color: #b80000;
}
body.markup-elements h1.section-title a {
  text-decoration: none;
  border-bottom: 1px solid black;
}
body.markup-elements h1.section-title a:visited {
  border-bottom-color: black;
}
body.markup-elements h1.section-title a:hover {
  border-bottom-color: #b80000;
}
body.markup-elements h1.section-title a:active {
  border-bottom-color: #b80000;
}
body.markup-elements article.element {
  *zoom: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  padding-bottom: 23px;
}
body.markup-elements article.element:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
body.markup-elements article.element:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}
body.markup-elements article.element h2.element-title {
  font-size: 1em;
  line-height: 1.714em;
  background-color: gray;
  color: white;
  text-transform: uppercase;
  padding-left: 12px;
}
body.markup-elements article.element h2.element-title a {
  color: white;
}
body.markup-elements article.element h2.element-title a:visited {
  color: white;
}
body.markup-elements article.element h2.element-title a:hover {
  color: #b80000;
}
body.markup-elements article.element h2.element-title a:active {
  color: #b80000;
}
body.markup-elements article.element h2.element-title a {
  text-decoration: none;
  border-bottom: 1px solid white;
}
body.markup-elements article.element h2.element-title a:visited {
  border-bottom-color: white;
}
body.markup-elements article.element h2.element-title a:hover {
  border-bottom-color: #b80000;
}
body.markup-elements article.element h2.element-title a:active {
  border-bottom-color: #b80000;
}
body.markup-elements article.element .example {
  *zoom: 1;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  padding-bottom: 11px;
  *zoom: 1;
}
body.markup-elements article.element .example:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
body.markup-elements article.element .example:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}
body.markup-elements article.element .example:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
body.markup-elements article.element .example .markup {
  display: inline;
  float: left;
  width: 77.526%;
  margin-right: 2.474%;
}
body.markup-elements article.element .example .markup + .show-source {
  display: inline;
  float: left;
  width: 37.526%;
  margin-right: 2.474%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -24px;
}
body.markup-elements article.element .example .markup + .show-source .show-hide {
  text-align: right;
}
body.markup-elements article.element .example .markup + .show-source + p {
  clear: both;
}

.container {
  *zoom: 1;
  margin: auto;
  width: 970px;
  max-width: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(1.237%, rgba(0, 0, 0, 0)), color-stop(1.237%, rgba(100, 100, 225, 0.25)), color-stop(18.763%, rgba(100, 100, 225, 0.25)), color-stop(18.763%, rgba(0, 0, 0, 0)), color-stop(21.237%, rgba(0, 0, 0, 0)), color-stop(21.237%, rgba(100, 100, 225, 0.25)), color-stop(38.763%, rgba(100, 100, 225, 0.25)), color-stop(38.763%, rgba(0, 0, 0, 0)), color-stop(41.237%, rgba(0, 0, 0, 0)), color-stop(41.237%, rgba(100, 100, 225, 0.25)), color-stop(58.763%, rgba(100, 100, 225, 0.25)), color-stop(58.763%, rgba(0, 0, 0, 0)), color-stop(61.237%, rgba(0, 0, 0, 0)), color-stop(61.237%, rgba(100, 100, 225, 0.25)), color-stop(78.763%, rgba(100, 100, 225, 0.25)), color-stop(78.763%, rgba(0, 0, 0, 0)), color-stop(81.237%, rgba(0, 0, 0, 0)), color-stop(81.237%, rgba(100, 100, 225, 0.25)), color-stop(98.763%, rgba(100, 100, 225, 0.25)), color-stop(98.763%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 1.237%, rgba(100, 100, 225, 0.25) 1.237%, rgba(100, 100, 225, 0.25) 18.763%, rgba(0, 0, 0, 0) 18.763%, rgba(0, 0, 0, 0) 21.237%, rgba(100, 100, 225, 0.25) 21.237%, rgba(100, 100, 225, 0.25) 38.763%, rgba(0, 0, 0, 0) 38.763%, rgba(0, 0, 0, 0) 41.237%, rgba(100, 100, 225, 0.25) 41.237%, rgba(100, 100, 225, 0.25) 58.763%, rgba(0, 0, 0, 0) 58.763%, rgba(0, 0, 0, 0) 61.237%, rgba(100, 100, 225, 0.25) 61.237%, rgba(100, 100, 225, 0.25) 78.763%, rgba(0, 0, 0, 0) 78.763%, rgba(0, 0, 0, 0) 81.237%, rgba(100, 100, 225, 0.25) 81.237%, rgba(100, 100, 225, 0.25) 98.763%, rgba(0, 0, 0, 0) 98.763%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 1.237%, rgba(100, 100, 225, 0.25) 1.237%, rgba(100, 100, 225, 0.25) 18.763%, rgba(0, 0, 0, 0) 18.763%, rgba(0, 0, 0, 0) 21.237%, rgba(100, 100, 225, 0.25) 21.237%, rgba(100, 100, 225, 0.25) 38.763%, rgba(0, 0, 0, 0) 38.763%, rgba(0, 0, 0, 0) 41.237%, rgba(100, 100, 225, 0.25) 41.237%, rgba(100, 100, 225, 0.25) 58.763%, rgba(0, 0, 0, 0) 58.763%, rgba(0, 0, 0, 0) 61.237%, rgba(100, 100, 225, 0.25) 61.237%, rgba(100, 100, 225, 0.25) 78.763%, rgba(0, 0, 0, 0) 78.763%, rgba(0, 0, 0, 0) 81.237%, rgba(100, 100, 225, 0.25) 81.237%, rgba(100, 100, 225, 0.25) 98.763%, rgba(0, 0, 0, 0) 98.763%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 1.237%, rgba(100, 100, 225, 0.25) 1.237%, rgba(100, 100, 225, 0.25) 18.763%, rgba(0, 0, 0, 0) 18.763%, rgba(0, 0, 0, 0) 21.237%, rgba(100, 100, 225, 0.25) 21.237%, rgba(100, 100, 225, 0.25) 38.763%, rgba(0, 0, 0, 0) 38.763%, rgba(0, 0, 0, 0) 41.237%, rgba(100, 100, 225, 0.25) 41.237%, rgba(100, 100, 225, 0.25) 58.763%, rgba(0, 0, 0, 0) 58.763%, rgba(0, 0, 0, 0) 61.237%, rgba(100, 100, 225, 0.25) 61.237%, rgba(100, 100, 225, 0.25) 78.763%, rgba(0, 0, 0, 0) 78.763%, rgba(0, 0, 0, 0) 81.237%, rgba(100, 100, 225, 0.25) 81.237%, rgba(100, 100, 225, 0.25) 98.763%, rgba(0, 0, 0, 0) 98.763%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 1.237%, rgba(100, 100, 225, 0.25) 1.237%, rgba(100, 100, 225, 0.25) 18.763%, rgba(0, 0, 0, 0) 18.763%, rgba(0, 0, 0, 0) 21.237%, rgba(100, 100, 225, 0.25) 21.237%, rgba(100, 100, 225, 0.25) 38.763%, rgba(0, 0, 0, 0) 38.763%, rgba(0, 0, 0, 0) 41.237%, rgba(100, 100, 225, 0.25) 41.237%, rgba(100, 100, 225, 0.25) 58.763%, rgba(0, 0, 0, 0) 58.763%, rgba(0, 0, 0, 0) 61.237%, rgba(100, 100, 225, 0.25) 61.237%, rgba(100, 100, 225, 0.25) 78.763%, rgba(0, 0, 0, 0) 78.763%, rgba(0, 0, 0, 0) 81.237%, rgba(100, 100, 225, 0.25) 81.237%, rgba(100, 100, 225, 0.25) 98.763%, rgba(0, 0, 0, 0) 98.763%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
}
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.wireframe {
  outline: 1px dashed #b80000;
}

html {
  height: 100%;
}

body {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -moz-box-pack: start;
  -webkit-box-pack: start;
  box-pack: start;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  box-align: stretch;
  width: 100%;
  height: 100%;
}
body header {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}

/* Non-grid Layout and styling -------------------------------------------------------------- */
body {
  background-color: #372218;
  background-image: url('images/dirt.jpg?1300250432');
}

header {
  position: relative;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  margin-top: 277px;
}
header:before {
  content: "≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈";
  letter-spacing: -4px;
  font-size: 3.375em;
  line-height: 1.016em;
  color: #1b110c;
  color: rgba(27, 17, 12, 0.5);
  color: rgba(184, 0, 0, 0.2);
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}
header hgroup {
  background: transparent url('images/logo.png?1303525784') no-repeat 0 36px;
  padding-top: 36px;
  position: relative;
  z-index: 5;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-box-align: end;
  -webkit-box-align: end;
  box-align: end;
  color: white;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8), 5px 8px 8px rgba(0, 0, 0, 0.5);
}
header hgroup h1, header hgroup h2, header hgroup h3, header hgroup #main article h1, #main article header hgroup h1, header hgroup h4, header hgroup h5, header hgroup h6 {
  font-weight: 700;
  font-family: proxima-nova-condensed-1, proxima-nova-condensed-2, sans-serif;
}
header hgroup h2 {
  margin-bottom: 0;
  position: relative;
  font-size: 32.8px;
  top: 0px;
}
.wf-active header hgroup h2 {
  font-size: 2.963em;
  line-height: 1.157em;
  top: -9px;
}
header hgroup h1 {
  font-family: proxima-nova-1, proxima-nova-2, sans-serif;
  font-weight: 800;
  font-size: 4.929em;
  line-height: 1.043em;
  position: relative;
  top: 0px;
}
.wf-active header hgroup h1 {
  font-size: 5.063em;
  line-height: 1.016em;
  top: -12px;
}

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-back {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

#wrapper {
  position: relative;
  z-index: 3;
  width: 1px;
  margin: 0 auto;
}
#wrapper nav.samples {
  position: absolute;
  z-index: 2;
  top: -57.5px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 80s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#wrapper nav.samples ul {
  margin: 0 0 0 0;
  list-style: none;
  position: absolute;
  top: -57.5px;
  left: -57.5px;
}
#wrapper nav.samples ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
#wrapper nav.samples ul li {
  -webkit-animation-name: spin-back;
  -webkit-animation-duration: 80s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 115px;
  height: 115px;
  z-index: 4;
  -moz-border-radius: 93.333px;
  -webkit-border-radius: 93.333px;
  -o-border-radius: 93.333px;
  -ms-border-radius: 93.333px;
  -khtml-border-radius: 93.333px;
  border-radius: 93.333px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8), 5px 8px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8), 5px 8px 8px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8), 5px 8px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8), 5px 8px 8px rgba(0, 0, 0, 0.5);
}
#wrapper nav.samples ul li:nth-of-type(1n-1) {
  top: 205.692px;
  left: 245.134px;
}
#wrapper nav.samples ul li:nth-of-type(2n-2) {
  top: 315.138px;
  left: 55.567px;
}
#wrapper nav.samples ul li:nth-of-type(3n-3) {
  top: 277.128px;
  left: -160.0px;
}
#wrapper nav.samples ul li:nth-of-type(4n-4) {
  top: 109.446px;
  left: -300.702px;
}
#wrapper nav.samples ul li:nth-of-type(5n-5) {
  top: -109.446px;
  left: -300.702px;
}
#wrapper nav.samples ul li:nth-of-type(6n-6) {
  top: -277.128px;
  left: -160.0px;
}
#wrapper nav.samples ul li:nth-of-type(7n-7) {
  top: -315.138px;
  left: 55.567px;
}
#wrapper nav.samples ul li:nth-of-type(8n-8) {
  top: -205.692px;
  left: 245.134px;
}
#wrapper nav.samples ul li:nth-of-type(9n-9) {
  top: 0.0px;
  left: 320px;
}
#wrapper nav.samples ul li a {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('images/badge-color.png?1305613384');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 115px;
  height: 115px;
}
#wrapper nav.samples ul li a {
  border-bottom: none;
}
#wrapper nav.samples ul li a:hover {
  border-bottom: none;
}
#wrapper nav.samples ul li a:hover {
  -moz-transform: rotate(0) scale(1.2);
  -webkit-transform: rotate(0) scale(1.2);
  -o-transform: rotate(0) scale(1.2);
  -ms-transform: rotate(0) scale(1.2);
  transform: rotate(0) scale(1.2);
}
#wrapper nav.samples ul li#color-badge a {
  background-image: url('images/badge-color.png?1305613384');
}
#wrapper nav.samples ul li#clean-start-badge a {
  background-image: url('images/badge-clean-start.png?1306297606');
}
#wrapper nav.samples ul li#step-by-step-badge a {
  background-image: url('images/badge-step-by-step.png?1305686022');
}
#wrapper nav.samples ul li#html5-badge a {
  background-image: url('images/badge-html5.png?1305613384');
}
#wrapper nav.samples ul li#fonts-badge a {
  background-image: url('images/badge-fonts.png?1306278324');
}
#wrapper nav.samples ul li#sass-mixins-badge a {
  background-image: url('images/badge-sass-mixins.png?1305686022');
}
#wrapper nav.samples ul li#ui-patterns-badge a {
  background-image: url('images/badge-ui-patterns.png?1305686022');
}
#wrapper nav.samples ul li#drupal-ui-patterns-badge a {
  background-image: url('images/badge-drupal-ui-patterns.png?1305686022');
}
#wrapper nav.samples ul li#code-viewer-badge a {
  background-image: url('images/badge-code-viewer.png?1306279372');
}
#wrapper nav.samples:hover ul li:nth-of-type(1n-1) {
  top: 221.762px;
  left: 264.285px;
}
#wrapper nav.samples:hover ul li:nth-of-type(2n-2) {
  top: 339.759px;
  left: 59.909px;
}
#wrapper nav.samples:hover ul li:nth-of-type(3n-3) {
  top: 298.779px;
  left: -172.5px;
}
#wrapper nav.samples:hover ul li:nth-of-type(4n-4) {
  top: 117.997px;
  left: -324.194px;
}
#wrapper nav.samples:hover ul li:nth-of-type(5n-5) {
  top: -117.997px;
  left: -324.194px;
}
#wrapper nav.samples:hover ul li:nth-of-type(6n-6) {
  top: -298.779px;
  left: -172.5px;
}
#wrapper nav.samples:hover ul li:nth-of-type(7n-7) {
  top: -339.759px;
  left: 59.909px;
}
#wrapper nav.samples:hover ul li:nth-of-type(8n-8) {
  top: -221.762px;
  left: 264.285px;
}
#wrapper nav.samples:hover ul li:nth-of-type(9n-9) {
  top: 0.0px;
  left: 345px;
}

#main {
  position: relative;
  width: 404px;
  margin: 0 auto;
}
#main article {
  position: absolute;
  height: 190px;
  width: 410px;
  -moz-border-radius-bottomleft: 180px;
  -webkit-border-bottom-left-radius: 180px;
  -o-border-bottom-left-radius: 180px;
  -ms-border-bottom-left-radius: 180px;
  -khtml-border-bottom-left-radius: 180px;
  border-bottom-left-radius: 180px;
  -moz-border-radius-bottomright: 180px;
  -webkit-border-bottom-right-radius: 180px;
  -o-border-bottom-right-radius: 180px;
  -ms-border-bottom-right-radius: 180px;
  -khtml-border-bottom-right-radius: 180px;
  border-bottom-right-radius: 180px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  color: #d3d3d3;
  text-align: center;
  left: 0px;
}
#main article:before {
  content: "\0020";
  position: absolute;
  width: 410px;
  height: 800px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  z-index: -10;
  bottom: 190px;
  left: 0;
}
#main article h1 {
  border-bottom: 1px dashed #b7d2eb;
  margin: 0 5px 0.25em;
  color: #7bacdb;
}
#main article p {
  font-family: proxima-nova-condensed-1, proxima-nova-condensed-2, sans-serif;
  font-size: 1.317em;
  line-height: 1.302em;
  font-weight: bold;
  padding: 0 45px;
}
#main article:target {
  display: block;
  visibility: visible;
}

footer {
  background: white;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
