// @import font_face

$font-sans: unquote("sans-serif")  
$font-serifs: unquote("Georgia, serif")
$font-headline: unquote("museo-slab-1, museo-slab-2") $font-serifs
$font-mono: unquote("Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif")
$font-script: unquote("bickham-script-pro-1, bickham-script-pro-2, script")
$font-script-alt: unquote("coquette-1, coquette-2, script")
// special use font stacks
// ampersands
$font-amp: $font-script-alt
//unquote("GoudyBookletter1911Regular,") $font-sans
// CAPS
$font_cap: $font-sans         



