/* Non-grid Layout and styling --------------------------------------------------------------

body
  position: relative
  width: 100%
  overflow: hidden
  background: $brown image_url('dirt.jpg')
  &:before
    content: "≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈"
    @extend .logo-type
    letter-spacing: -4px
    +adjust-font-size-to($ms7)
    color: $blue-ice
    position: absolute
    // top: -$baseline-half
    top: 12px
    z-index: 0
    
    
header 
  background-color: $white
  hgroup
    @extend .container
    background: transparent image_url('logo.png') no-repeat 0 ($baseline * 1.5)
    padding-top: $baseline * 1.5
    // padding-top: $baseline * 1.5
    position: relative
    z-index: 1
    #{headers(all)}
      @extend .logo-type
      font-weight: 700
      font-family: $font-proxima-nova-condensed
    h2
      margin-bottom: 0
      position: relative
      left: 60px
      top: -9px
    h1
      font-family: $font-proxima-nova
      font-weight: 800
      +adjust-font-size-to($ms8)
      position: relative
      top: -$baseline-half

.no-typekit
  header
    hgroup
      h2
        font-size: $ms3
        top: -3px
      h1
        font-size: $ms7
        top: -3px
      
#container
  background-color: transparentize($white, 0.2)
  
#main
  position: relative
  +padding-leader(2)
  aside.samples
    position: absolute
    z-index: 3
    top: -130px
    right: -30px
    @for $i from 1 through 5
      // @debug $i
      $degree: (($i - 3) * 12)
      $deg: $degree + deg
      @if $degree < 0
        $degree: $degree * -1
      $offset: ($degree * ($degree * 0.1)) + px
      // $offset-shadow: ($degree * ($degree * 0.009)) + px
      // @debug $degree
      // @debug $deg 
      // @debug $offset 
      img
        &:nth-of-type(#{$i}n-#{$i})
          +transform(0.9,$deg,0,$offset,0deg,0deg,center,center)
          +box-shadow(transparentize($black, 0.7), 2px, 1px, 2px)
    &:hover
      img
        +transform(0.9,0,0,0,0deg,0deg,center,center)
        z-index: 5
    img
      position: relative
      z-index: 4
      border: 1px solid $brown
      +border-radius($ms0)
      +background-clip(padding-box)
      +transition(all,0.5s)
      &:hover
        +transform(1,0,0,0,0deg,0deg,center,center)
        +box-shadow(transparentize($black, 0.5), 3px, 3px, 4px)
        +border-radius($ms-2)
        
        
  