/* Non-grid Layout and styling --------------------------------------------------------------
html
  height: 100%
body
  width: 100%
  height: 100%
  // background-color: $red 
  // background-image: image_url('dirt-6.png'), image_url('dirt-5.png'), image_url('dirt-4.png'), image_url('dirt-3.png'), image_url('dirt-2.png'), image_url('dirt-1.jpg')
  // background-image: image_url('dirt-3.png'), image_url('dirt-2.png'), image_url('dirt-1.jpg')
  // background-image: image_url('dirt.jpg')
  
// SECTIONS TO HIDE
// #survivors, 
// #start
//   @extend .hidden

/* PAGE HEADER    
header#page-header
  position: relative
  padding-top: 372px
  padding-bottom: 248px  
  background:
    image: image_url('dirt.jpg')
    position: top center
  // +box-shadow(0px 2px 2px rgba($black, 0.4), 0px 8px 8px rgba($black, 0.2))
  &:before
    content: "≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈"
    @extend .logo-type
    letter-spacing: -4px
    +adjust-font-size-to($ms6)
    color: mix($red, $black)
    color: change-color($green, $alpha: 0.2)
    // color: change-color($white, $alpha: 0.2)
    +text-shadow(rgba($black, 0.6) 1px 1px)
    position: absolute
    top: 362px
    // top: 26px
    left: 0
    width: 100%
    overflow: hidden
    z-index: 0
  .wrapper
    background: transparent image_url('logo.png') no-repeat 0 ($baseline * 1.5)
    padding-top: $baseline * 1.5
    top: -$baseline * 1.5
    position: relative
    z-index: 5
    width: 480px
    margin: 0 auto
    color: $white
    color: change-color($white, $alpha: 0.8)
    +text-shadow(2px 2px 2px rgba($black, 0.8), 5px 8px 8px rgba($black, 0.5))
  #{headers(all)}
    @extend .logo-type
    font-weight: 700
    font-family: $font-proxima-nova-condensed
  h1
    margin-bottom: 0
    position: relative
    font-size: 32.8px
    top: 0px
    // left: 50px
    text-align: right
    padding-right: 6px
    .wf-active &
      +adjust-font-size-to($ms5)
      top: -9px
  h2
    font-family: $font-proxima-nova
    font-weight: 800
    +adjust-font-size-to(69px)
    position: relative
    top: 0px
    .wf-active &
      +adjust-font-size-to($ms8)
      top: -$baseline-half
  
/* MASTER NAVIGATION
#main-nav
  position: fixed
  top: 0
  background-color: $white
  background-color: change-color($white, $alpha:  0.9)
  width: 100%
  text-align: center
  z-index: 100
  border-bottom: 1px solid $brown
  // +box-shadow(0px 2px 2px rgba($black, 0.4), 0px 8px 8px rgba($black, 0.2))
  h1
    @extend .visuallyhidden
  ul
    +inline-list
    li
      padding: 0 0.5em
      // &:first-child:before
      //   content: '~~~ '
      a
        @extend h5
        +link-colors($red, $red-dark, $red-dark, $red, false)
        +remove-link-underlines
      &:before, &:after
        @extend h5
        font-weight: 300
        // opacity: 0.2
        color: $lightgray
      &:before
        content: '<'
      &:after
        content: '>'
  
/* TEASERS
// define animations
@-webkit-keyframes spin
  0%
    +transform2d(rotate(0deg))
  100%
    +transform2d(rotate(360deg))
      
@-webkit-keyframes spin-back
  0%
    +transform2d(rotate(0deg))
  100%
    +transform2d(rotate(-360deg))
    
$badge-size: 115px
$badge-size-neg-half: -$badge-size * 0.5
$badge-total: 8
$intro-width: 404px
#all-teasers
  position: relative
  z-index: 3
  display: block
  margin: 0 auto
  width: $intro-width
  max-width: $intro-width
  // padding-bottom: 292px
  top: -300px
  > h2
    @extend .hidden
  nav.samples
    position: absolute
    z-index: 2
    top: $badge-size-neg-half
    left: $intro-width * 0.5
    -webkit-animation-name: spin
    -webkit-animation-duration: 80s
    -webkit-animation-timing-function: linear
    -webkit-animation-iteration-count: infinite
    +transform2d(scale(0.9))
    +transition(all,0.5s)
    // &:hover
    //   ul
    //     li
    //       $badge-total: 8
    //       @for $i from 1 through ($badge-total + 1)
    //         $radius: 345
    //         $position: 360 / ($badge-total + 1) * $i
    //         $rotation: $position
    //         @if $rotation > 180
    //           $rotation: -360 + $rotation
    //         @if $rotation == 0
    //           $rotation: $rotation + 20
    //         $rotation: $rotation
    //         $cos: cos($position * (pi() / 180))
    //         $x-position: $radius * $cos + px
    //         $sin: sin($position * (pi() / 180))
    //         $y-position: $radius * $sin + px
    //         &        
    //           &:nth-of-type(#{$i}n-#{$i})      
    //             top: $y-position
    //             left: $x-position
    h3
      @extend .hidden
    ul
      margin: 0 0 0 0
      +no-bullets
      position: absolute
      $badge-size: 115px
      top: $badge-size-neg-half
      left: $badge-size-neg-half
      li
        -webkit-animation-name: spin-back
        -webkit-animation-duration: 80s
        -webkit-animation-timing-function: linear
        -webkit-animation-iteration-count: infinite
        position: absolute
        top: 0
        left: 0
        width: 115px
        height: 115px
        z-index: 4
        +border-radius($ms9)
        +background-clip(padding-box)
        +transition(all,0.5s)
        +box-shadow(2px 2px 2px rgba($black, 0.8), 5px 8px 8px rgba($black, 0.5))
        // &:hover
        //   +transform2d(scale(1.2))
        a
          +remove-link-underlines
          display: block
          +replace-text-with-dimensions('badges/color.png')
        @each $badge in color, clean-start, step-by-step, html5, fonts, sass-mixins, ui-patterns, drupal-ui-patterns, code-viewer
          &##{$badge}-badge
            a
              @extend .badges-#{$badge}
              &:hover, &.selected
                @extend .badges-#{$badge}-selected
        // calculate circle of badges
        @for $i from 1 through ($badge-total + 1)
          $radius: 320
          $position: 360 / ($badge-total + 1) * $i
          $rotation: $position
          @if $rotation > 180
            $rotation: -360 + $rotation
          @if $rotation == 0
            $rotation: $rotation + 20
          $rotation: $rotation
          $cos: cos($position * (pi() / 180))
          $x-position: $radius * $cos + px
          // @debug $radius * $cos + '%'
          // @debug $radius * $cos + px
          $sin: sin($position * (pi() / 180))
          $y-position: $radius * $sin + px
          &        
            &:nth-of-type(#{$i}n-#{$i})      
              top: $y-position
              left: $x-position
              // &:before
              //   content: '\0020'
              //   content: '#{$i}'
              //   color: $white
              //   '\0020'
              //   border: 1px solid $white
              //   width: ($radius) + px
              //   height: 0px 
              //   position: absolute
              //   left: $x-position
              //   top: $y-position
              //   // @debug $cos
              //   $x-origin: -$badge-size * $cos
              //   $y-origin: $badge-size * $sin
              //   // @debug $x-origin
              //   // @debug $y-origin
              //   +transform2d(rotate($rotation) translate($y-position, $x-position))
              //   // @debug $rotation + 180 + deg
              //   +transform2d(rotate($rotation + 180 + deg) translate($x-origin, $y-origin))
              //   +transform2d( translate($x-origin, $y-origin))
              //   +transform-origin(0, 0)
    // expand the circle when you mouse-over the nav
    &:hover
      ul
        li

          @for $i from 1 through ($badge-total + 1)
            $radius: 330
            $position: 360 / ($badge-total + 1) * $i
            $rotation: $position
            @if $rotation > 180
              $rotation: -360 + $rotation
            @if $rotation == 0
              $rotation: $rotation + 20
            $rotation: $rotation
            $cos: cos($position * (pi() / 180))
            $x-position: $radius * $cos + px
            $sin: sin($position * (pi() / 180))
            $y-position: $radius * $sin + px
            &        
              &:nth-of-type(#{$i}n-#{$i})      
                top: $y-position
                left: $x-position
  #teasers
    position: relative
    width: $intro-width
    margin: 0 auto
    // left: -$intro-width * 0.5
    > h3
      @extend .hidden
    article
      position: absolute
      height: 190px
      width: 410px
      +border-bottom-radius(180px)
      background-color: $black
      background-color: change-color($black, $alpha:  0.5)
      color: $lightgray
      text-align: center
      left: 0px
      &:before
        content: '\0020'
        position: absolute
        width: 410px
        height: 476px
        +background-image(linear-gradient(top, change-color($black, $alpha:  0), change-color($black, $alpha:  0.5)))
        z-index: -10
        bottom: 190px
        left: 0
      h1
        @extend h4
        border-bottom: 1px dashed adjust-color($blue, $lightness: +45 )
        margin: 0 5px 0.25em
        color: adjust-color($blue, $lightness: +30)
        display: block
        visibility: visible
        +adjust-font-size-to(24.327px)
        padding-top: 6px
        .wf-active &
          @extend h4
          // +adjust-font-size-to(24.327px)
          padding-top: 0
      p
        font-weight: bold
        padding: 0 45px
      @extend .hidden
      &:target, &.selected
        display: block
        visibility: visible
      &:first-of-type
        display: block
        visibility: visible


/* INTRODUCTION
#intro
  position: relative
  z-index: -51
  background:
    image: image_url('dirt.jpg')
    position: -50% center
  // color: $white
  +box-shadow(0px 2px 2px rgba($black, 0.4), 0px 8px 8px rgba($black, 0.2))
  // background-color: change-color(mix($green, $brown), $saturation:  30%)
  .inner
    @extend .container
    // +container
    +padding-leader(2)
    +padding-trailer(2)
    // background-color: rgba($black, 0.12)
    color: $blue-ice
    // +text-shadow(rgba($blue, 0.5) 1px 2px 4px)
    // +box-shadow(2px 0px 2px rgba($black, 0.1px), 8px 0px 8px rgba($black, 0.05), -2px 0px 2px rgba($black, 0.1), -8px 0px 8px rgba($black, 0.05))
    // +susy-grid-background
    > h1
      @extend .visuallyhidden
    article
      +full
      h1
        text-align: center
        color: scale-color($green, $lightness:  50%)
        // @debug scale-color($green, $lightness:  50%)
        // @debug mix($green, $white)
        +text-shadow(2px 2px 2px rgba($black, 0.2), 5px 8px 8px rgba($black, 0.1))
        // border-bottom: 1px solid $green
        // +adjust-font-size-to($ms6, 2)
        +adjust-leading-to(4, $ms6)
      .body
        +columns(4,5)
        +prefix(0.5)
        +column-count(2)
        +column-gap(24px)
        +text-shadow(rgba($black, 0.8) 1px 1px 2px)
    

/* LEARN
#learn
  position: relative
  z-index: -52
  // START background pattern
  /* BACKGROUND PATTERN: http://leaverou.me/css3patterns/#carbon-fibre THANKS!
  background: -webkit-gradient(radial, 0 0, 0, 0 0, 16, color-stop(15%, $brown-dark), color-stop(16%, rgba($black, 0))), -webkit-gradient(radial, 8px 8px, 0, 8px 8px, 16, color-stop(15%, $brown-dark), color-stop(16%, rgba($black, 0))), -webkit-gradient(radial, 0 1px, 0, 0 1px, 20, color-stop(15%, rgba($white, 0.1)), color-stop(20%, rgba($black, 0))), -webkit-gradient(radial, 8px 9px, 0, 8px 9px, 20, color-stop(15%, rgba($white, 0.1)), color-stop(20%, rgba($black, 0)))
  background: -webkit-radial-gradient($brown-dark 15%, rgba($black, 0) 16%) 0 0, -webkit-radial-gradient($brown-dark 15%, rgba($black, 0) 16%) 8px 8px, -webkit-radial-gradient(rgba($white, 0.1) 15%, rgba($black, 0) 20%) 0 1px, -webkit-radial-gradient(rgba($white, 0.1) 15%, rgba($black, 0) 20%) 8px 9px
  background: -moz-radial-gradient($brown-dark 15%, rgba($black, 0) 16%) 0 0, -moz-radial-gradient($brown-dark 15%, rgba($black, 0) 16%) 8px 8px, -moz-radial-gradient(rgba($white, 0.1) 15%, rgba($black, 0) 20%) 0 1px, -moz-radial-gradient(rgba($white, 0.1) 15%, rgba($black, 0) 20%) 8px 9px
  background: -o-radial-gradient(0 0, $brown-dark 15%, rgba($black, 0) 16%), -o-radial-gradient(8px 8px, $brown-dark 15%, rgba($black, 0) 16%), -o-radial-gradient(0 1px, rgba($white, 0.1) 15%, rgba($black, 0) 20%), -o-radial-gradient(8px 9px, rgba($white, 0.1) 15%, rgba($black, 0) 20%)
  background: radial-gradient($brown-dark 15%, rgba($black, 0) 16%) 0 0, radial-gradient($brown-dark 15%, rgba($black, 0) 16%) 8px 8px, radial-gradient(rgba($white, 0.1) 15%, rgba($black, 0) 20%) 0 1px, radial-gradient(rgba($white, 0.1) 15%, rgba($black, 0) 20%) 8px 9px
  background-color: $brown
  background-size: 16px 16px
  // END background pattern
  +box-shadow(0px 2px 2px rgba($black, 0.4), 0px 8px 8px rgba($black, 0.2))
  .inner
    @extend .container
    +padding-leader(1)
    +padding-trailer(1)
    background-color: rgba($black, 0.4)
    +background-image(linear-gradient(left center, rgba($black, 0), rgba($black, 0) 59.7585%, rgba($brown, 0.5) 59.7585%, rgba($brown, 0.5) 79.2755%, rgba($black, 0) 79.2755%, rgba($black, 0)))
    +box-shadow(2px 0px 2px rgba($black, 0.4), 8px 0px 8px rgba($black, 0.2), -2px 0px 2px rgba($black, 0.4), -8px 0px 8px rgba($black, 0.2))
    color: $blue-ice
    > h1
      +full
      text-align: center
      font-weight: 300
      margin-bottom: $baseline
      @extend .visuallyhidden
    #walkthru
      +columns(3)
      +alpha
      iframe
        width: 558px
        height: 376.65px
        max-width: 100%
    #podcast-videos
      +leader(1)
      +columns(2)
      +omega
      > h2
        +adjust-font-size-to($ms2)
        text-align: right
        +trailer
      article
        +vertical-separation($baseline, 3px, rgba($brown, 0.5), solid)
        // background-color: rgba($black, 0.25)
        // +background-image(linear-gradient(top, rgba($black, 0), rgba($brown, 0.5) 50%))
        margin-left: -12px
        padding-left: 12px
        margin-right: -26px
        padding-right: 26px
        h1
          @extend h3
          line-height: 1em
          +columns(1,2)
        img
          +columns(1,2)
          +omega(2)
          margin: 3px 0

    
/* TOOLS
#tools
  position: relative
  z-index: -53
  +box-shadow(0px 2px 2px rgba($black, 0.4), 0px 8px 8px rgba($black, 0.2))
  background-color: $blue-dark
  // background-color: gray;
  @debug 'consider renaming $gutter variable to avoid conflicts'
  // background-image: -webkit-repeating-linear-gradient(165deg, transparent, transparent 24px, rgba($blue,.05) 24px, rgba($blue,.05) 24px * 1.5)
  // background-image: -moz-repeating-linear-gradient(165deg, transparent, transparent 24px, rgba($blue,.05) 24px, rgba($blue,.05) 24px * 1.5)
  // background-image: -o-repeating-linear-gradient(165deg, transparent, transparent 24px, rgba($blue,.05) 24px, rgba($blue,.05) 24px * 1.5)
  // background-image: repeating-linear-gradient(165deg, transparent, transparent 24px, rgba($blue,.05) 24px, rgba($blue,.05) 24px * 1.5)
  background-image: -webkit-linear-gradient(165deg, rgba($blue,.2), rgba($blue,.2) 33%, $blue-dark 33%, $blue-dark 66%, rgba($blue,.2) 66%, rgba($blue,.2) 100%)
  background-image: -moz-linear-gradient(165deg, rgba($blue,.2), rgba($blue,.2) 33%, $blue-dark 33%, $blue-dark 66%, rgba($blue,.2) 66%, rgba($blue,.2) 100%)
  background-image: -o-linear-gradient(165deg, rgba($blue,.2), rgba($blue,.2) 33%, $blue-dark 33%, $blue-dark 66%, rgba($blue,.2) 66%, rgba($blue,.2) 100%)
  background-image: linear-gradient(165deg, rgba($blue,.2), rgba($blue,.2) 33%, $blue-dark 33%, $blue-dark 66%, rgba($blue,.2) 66%, rgba($blue,.2) 100%)
  .inner
    @extend .container
    +padding-leader(1)
    +padding-trailer(1)
    background-color: rgba($white, 0.25)
    color: $white
    +box-shadow(2px 0px 2px rgba($black, 0.4), 8px 0px 8px rgba($black, 0.2), -2px 0px 2px rgba($black, 0.4), -8px 0px 8px rgba($black, 0.2))
    > header
      +full
      +trailer
      h1
        text-align: center
        font-weight: 300
        margin-bottom: $baseline
    #all-examples
      +full
      position: relative
      #tools-nav
        +columns(1,5)
        position: relative
        h2
          @extend h3
        ul
          +no-bullets
          margin-left: 0
          li
            background-color: rgba($blue-dark, 0.1)
            margin-left: -$side-gutter-width
            padding-left: $side-gutter-width
            position: relative
            z-index: 75
            // background: -webkit-linear-gradient(165deg, change-color($black, $alpha:  0) 8px, rgba($blue-dark, 0.1) 0, rgba($blue-darker, 0.8) 100%) bottom right
            // background: -moz-linear-gradient(165deg, change-color($black, $alpha:  0) 8px, rgba(255, 255, 255, 0.1) 0, rgba(30, 30, 30, 0.8) 100%) bottom right
            // background: -o-linear-gradient(165deg, change-color($black, $alpha:  0) 8px, rgba(255, 255, 255, 0.1) 0, rgba(30, 30, 30, 0.8) 100%) bottom right
            // background: linear-gradient(165deg, change-color($black, $alpha:  0) 8px, rgba(255, 255, 255, 0.1) 0, rgba(30, 30, 30, 0.8) 100%) bottom right
            // background-size: 100%
            background-repeat: no-repeat
            background: -webkit-linear-gradient(165deg, change-color($white, $alpha:  0) 8px, rgba($white, 0.4) 0, rgba($white, 0.8) 100%) bottom right
            background: -moz-linear-gradient(165deg, change-color($white, $alpha:  0) 8px, rgba($white, 0.4) 0, rgba($white, 0.8) 100%) bottom right
            background: -o-linear-gradient(165deg, change-color($white, $alpha:  0) 8px, rgba($white, 0.4) 0, rgba($white, 0.8) 100%) bottom right
            background: linear-gradient(165deg, change-color($white, $alpha:  0) 8px, rgba($white, 0.4) 0, rgba($white, 0.8) 100%) bottom right
            +background-clip("padding-box")
            +transition(all,0.5s)
            &:hover
              background: -webkit-linear-gradient(165deg, change-color($black, $alpha:  0) 8px, rgba($blue-dark, 0.1) 0, rgba(adjust-color($blue-darker, $lightness: +5), 0.8) 100%) bottom right
              background: -moz-linear-gradient(165deg, change-color($black, $alpha:  0) 8px, rgba($blue-dark, 0.1) 0, rgba(adjust-color($blue-darker, $lightness: +5), 0.8) 100%) bottom right
              background: -o-linear-gradient(165deg, change-color($black, $alpha:  0) 8px, rgba($blue-dark, 0.1) 0, rgba(adjust-color($blue-darker, $lightness: +5), 0.8) 100%) bottom right
              background: linear-gradient(165deg, change-color($black, $alpha:  0) 8px, rgba($blue-dark, 0.1) 0, rgba(adjust-color($blue-darker, $lightness: +5), 0.8) 100%) bottom right
              a
                +link-colors($green, $green, $green, $green, false)
            &:not(:first-child)
              border-top: 1px solid $blue-dark
              &:after
                position: absolute
                z-index: 74
                display: block
                content: "\0020"
                width: 18px
                height: 12px
                bottom: 19px
                right: -2px
                background: -webkit-linear-gradient(-140deg, change-color($black, $alpha:  0) 7px, rgba($blue-dark, 0.8) 0) top right
                background: -mox-linear-gradient(-140deg, change-color($black, $alpha:  0) 7px, rgba($blue-dark, 0.8) 0) top right
                background: -o-linear-gradient(-140deg, change-color($black, $alpha:  0) 7px, rgba($blue-dark, 0.8) 0) top right
                background: linear-gradient(-140deg, change-color($black, $alpha:  0) 7px, rgba($blue-dark, 0.8) 0) top right
                background-size: 50%
                background-repeat: no-repeat
            a
              +transition(all,0.5s)
              +remove-link-underlines
              +link-colors($brown, $green, $green, $brown, false)
              // +text-shadow(rgba($black, 0.5) 1px 1px 0)
              font-weight: 700
      #tools-examples
        +columns(4,5)
        +omega(5)
        position: relative
        > h2
          @extend .visuallyhidden
        article
          max-width: 100%
          // overflow: auto
          .example
            // +box-shadow(rgba($black, 0.1) 0 0 18px, rgba($black, .7) 1px 2px 6px 1px inset)
            border: 1px solid $blue-dark
            +border-radius
            & + footer
              font-style: italic
              +adjust-font-size-to($ms1)
              opacity: 0.6
          .syntaxhighlighter
            white-space: nowrap
            overflow: auto
            th, td, caption
              padding: 0
              .line
                padding: 0 0.5em
            .toolbar
              display: none
            .gutter, .container
              .line
                height: 24px
            .gutter
              width: 2em
              max-width: 3em
              @extend .mono
            .container
              width: auto
              code
                @extend .mono
            .alt2
              // background-color: rgba($white, 0.025) !important

/* SURVIVORS
// $total-cols: 4
// @import susy
#survivors
  position: relative
  z-index: -54
  +box-shadow(0px 2px 2px rgba($black, 0.4), 0px 8px 8px rgba($black, 0.2))
  background-color: $green
  .inner
    @extend .container
    // +container
    +padding-leader(1)
    +padding-trailer(1)
    background-color: rgba($black, 0.12)
    color: $blue-ice
    +text-shadow(rgba($blue, 0.5) 1px 2px 4px)
    +box-shadow(2px 0px 2px rgba($black, 0.1px), 8px 0px 8px rgba($black, 0.05), -2px 0px 2px rgba($black, 0.1), -8px 0px 8px rgba($black, 0.05))
    // +susy-grid-background
    > header
      +full
      +trailer
      h1
        text-align: center
        font-weight: 300
        margin-bottom: $baseline
    .survivor
      +columns(2)
      +vertical-separation($baseline * 2)
      position: relative
      background: adjust-color($green, $lightness: -10)
      height: 240px
      padding: 6px
      +box-shadow(rgba($black, 0.1) 2px 1px 4px, rgba($black, 0.1) -4px 3px 8px)
      h1
        +adjust-font-size-to($ms4)
        line-height: 1em
        position: absolute
        max-width: 240px
      &:nth-of-type(odd)
        +alpha()
        // +prefix(0.25)
        padding-right: 84px
        h1
          text-align: right
          top: 0
          right: 0
          +transform2d(rotate(-90deg) translate(-6px, -72px))
          +transform-origin(top, right)
      &:nth-of-type(even)
        // +suffix(0.25)
        +omega()
        padding-left: 84px
        h1
          // text-align: right
          top: 0
          left: 0
          +transform2d(rotate(90deg) translate(6px, -72px))
          +transform-origin(top, left)
      &:last-child
        padding-bottom: 6px
      img
        // width: columns(2)

/* START
// $total-cols: 3
// @import susy
#prepared
  position: relative
  z-index: -55
  // +box-shadow(0px 2px 2px rgba($black, 0.4), 0px 8px 8px rgba($black, 0.2))
  background:
    image: image_url('dirt.jpg')
    position: top center
  color: $white
  // font-size: $ms3
  +adjust-font-size-to($ms3)
  .inner
    @extend .container
    // +container
    +padding-leader(2)
    +padding-trailer(2)
    background-color: rgba($black, 0.25)
    +box-shadow(2px 0px 2px rgba($black, 0.4), 8px 0px 8px rgba($black, 0.2), -2px 0px 2px rgba($black, 0.4), -8px 0px 8px rgba($black, 0.2))
    // +susy-grid-background
    position: relative
    header
      position: relative
      float: left
      +box-shadow(2px 0px 2px rgba($black, 0.2), 8px 0px 8px rgba($black, 0.1))
      h1
        background: $green
        display: inline-block
        float: left
        +text-shadow(2px 2px 2px rgba($black, 0.2), 5px 8px 8px rgba($black, 0.1))
        .word1
          +adjust-font-size-to($ms4-5, 1, $ms6)
          padding: 6px 28px 
          float: left
          text-align: center
          +transform2d(rotate(-90deg) translate(-18px, 0))
          +transform-origin(50%, 50%)
          +text-shadow(-2px 2px 2px rgba($black, 0.2), -8px 5px 8px rgba($black, 0.1))
        .word2
          margin-left: -31px
    p.download
      float: left
      // margin-left: 1em
      padding: 12px 0 0 0
      +adjust-font-size-to($ms3, 1, $ms3)
      // line-height: 1
      span
        background-color: mix($green, $yellow)
        float: left
        clear: left
        &.word1, &.word3, &.word5
          padding-left: 0.5em
          +transition(padding-left,0.5s)
        &.word2, &.word4
          float: none
          clear: none
          margin-left: 0.5em
          background-color: transparent
          color: $green
      a
        +remove-link-underlines
        +link-colors($brown-dark, $blue, $brown-dark, $brown-dark, false)
      &:hover
        span
          &.word1, &.word3, &.word5
            padding-left: 1em
    footer
      +padding-leader(0.5)
      clear: both
      text-align: right
      aside
        // +columns(2)
        // +omega
        h2
          @extend .visuallyhidden
        ul
          // +no-bullets 
          +inline-list
          // +adjust-font-size-to($ms2, 1, $ms3)

// random letter opacity
#teasers article, 
#intro,
#learn,
#tools #tools-examples article,
#survivors .survivor,
#prepared,
  h1, h2, h3
    position: relative
    span
      position: relative
      &:nth-of-type(2n-2)
      &:nth-of-type(3n-3)
        opacity: 0.7
      &:nth-of-type(5n-5)
        opacity: 0.8
        // +rotate(2deg)
      &:nth-of-type(7n-7)
        opacity: 0.9
        // +rotate(-2deg)
      


